.BMI{
    position:fixed;
    top:25%;
    left:0;
    width:50%;
    height:30%;
    font-size:50px;
    color:green;
    text-align:center;
}
.table{
    position:fixed;
    top:25%;
    right:0;
    width:50%;
    height:30%;
    text-align:center;
 }
