<!DOCTYPE html>
<html lang="en" style="width: 100%;height: 100%">
<head>
    <meta charset="UTF-8">
    <title>BMI指数计算-v1</title>
    <link href="../static/main.css" rel="stylesheet">
</head>
<body>
<div class="BMI">
    BMI的值是：{{ BMI }}<br>
    身体健康状况说明:{{ note }}<br>
</div>
<div class="table">
    <table border="10px">
        <tr><td>分类</td><td>BMI范围</td></tr>
        <tr><td>偏瘦</td><td><18.5</td></tr>
        <tr><td>正常</td><td>18.5-23.9</td></tr>
        <tr><td>偏胖</td><td>24-27.9</td></tr>
        <tr><td>肥胖</td><td>>27.9</td></tr>
    </table>
</div>
</body>
</html>
